<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{DefaultLayout}">
<head>
<meta charset="UTF-8" />
<title>Register here your document</title>
</head>
<section layout:fragment="content">
	<div align="center" class="div-title">
		<h3>Documents</h3>
	</div>

	<form id="main-form">
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th class="text-center">Description</th>
					<th class="text-center">Due date</th>
					<th class="text-center">Status</th>
					<th class="text-center">Value</th>
					<th class="text-center"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</form>
</section>
</html>