<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{MainLayout}">
<head>
	<meta charset="UTF-8" />
	<title>Register here your document</title>
	<link rel="stylesheet" type="text/css" href="/css/list-documents.css">
</head>
<section layout:fragment="content">
	<div align="center" class="div-title">
		<h3>Documents</h3>
	</div>


	<form id="main-form" method="get">
		<div layout:insert="MessageSuccess"></div>
		<div id="div-link">
			<a class="btn btn-link" href="/documents/new">New document</a>
		</div>
		<div class="input-group mb-4">
			<input type="text" id="search"
				placeholder="Write here to search a document" aria-label="Recipient's username"
				aria-describedby="button-addon2" autofocus="autofocus">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="submit"
					id="button-addon2">Search</button>
			</div>
		</div>
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th class="text-center">Description</th>
					<th class="text-center">Due date</th>
					<th class="text-center">Status</th>
					<th class="text-center">Value</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="document : ${allDocuments}">
					<td class="text-center" th:text="${document.description}"></td>
					<td class="text-center" th:text="${{document.dueDate}}"></td>
					<td class="text-center" th:attr="data-role=${document.id}">
						<span class="label" th:text="Paid"
							th:if="${#strings.toString(document.status) == 'PAID'}">
						</span> 
						<span class="label" th:text="Pending"
							th:if="${#strings.toString(document.status) == 'PENDING'}">
						</span>
						<span class="label" th:text="Overdue"
							th:if="${#strings.toString(document.status) == 'OVERDUE'}">
						</span>
					</td>
					<td class="text-center" th:text="|R$ ${{document.value}}|"></td>
					<td class="text-center">
						<a class="btn btn-link" th:href="@{/documents/{id}(id=${document.id})}" title="Edit document">Edit</a>
						
						<button type="button" th:field="*{id}" class="btn btn-primary" data-toggle="modal" data-target="#modal-delete"
						 th:attr="data-id = ${document.id}, data-description = ${document.description}" title="Delete document">Delete</button>
						 
						<a class="btn btn-success js-update-status" title="To receive document" 
						th:attr="data-id = ${document.id}"
						th:if="${#strings.toString(document.status) == 'PENDING'}" th:href="@{/documents/{id}/receive(id=${document.id})}">To receive</a> 
					</td>
				</tr>
				<tr>
					<td colspan="6" class="text-center" th:if="${#lists.isEmpty(allDocuments)}">No results</td>
				</tr>
			</tbody>
		</table>
	</form>
	
	<div layout:insert="ConfirmModal"></div>
	<script src="/js/document.js"></script>
</section>
</html>